<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Route to BE_API -->
        <rule name="proxy_api" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="http://localhost:5000/api/{R:1}" />
        </rule>

        <!-- Route to BE_UPLOAD -->
        <rule name="proxy_upload" stopProcessing="true">
          <match url="^upload/(.*)" />
          <action type="Rewrite" url="http://localhost:5001/upload/{R:1}" />
        </rule>

        <!-- Route to React SPA -->
        <rule name="react_spa" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>

    <staticContent>
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
  </system.webServer>
</configuration>
